section.section.advantages
  .container
    h1.main-heading
      | наши 
      span.text-red преимущества
    ul.advantages__list
      li.advantages__item
        img(src='img/advan1.jpg', alt='')
        h2
          span.text-red Быстрая доставка
          br
          |  по Москве и всей России 
        p Доставка по Москве в течение 1-2 дней, доставка по России от 2 до 10 дней
      li.advantages__item
        img(src='img/advan2.jpg', alt='')
        h2
          | гарантия 
          br
          span.text-red лучшей цены
        p Найдете Дешевле? мы снизим для вас цену
      li.advantages__item
        img(src='img/advan3.jpg', alt='')
        h2
          span.text-red бесплатная примерка
          br
          |  2 моделей 
        p Привезем на примерку 2 пары по Москве бесплатно!
      li.advantages__item
        img(src='img/advan4.jpg', alt='')
        h2
          span.text-red гарантия
          br
          |  возврата и обмена 
        p Гарантированный возврат или обмен без причины в течение 14 дней!
      li.advantages__item
        img(src='img/advan5.jpg', alt='')
        h2
          span.text-red скидки для
          br
          |  постояннхы клиентов 
        p Дарим скидочный купон на последующие покупки!
