.goods
    .container-wide
        section.section.right-col
            h1.right-col__heading.text-red nike
            .right-col__text
                p
                    | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

            .right-col__advantages
                h1.right-col__heading наши 
                    span.text-red преимущества
                include ../_advantages-list

    .goods-list
        ul
            -for (var i = 0; i < 8; i++)
                li 
                    +box-img
        ul
            -for (var i = 0; i < 8; i++)
                li 
                    +box-img

    hr.right-col__hr
    .right-col
        .row.clr
            .sorting.sorting--left.fl
                p Модели:
                ul.sorting__list
                    li
                        a(href) Все
                    li
                        a(href) Мужские
                    li
                        a(href) Женские
            .sorting.sorting--right.fr
                p Сортировать по:
                ul.sorting__list
                    li
                        a(href) По дате
                    li
                        a(href) По полезности
                    li
                        a(href) По оценке
