<div class="section advantages">
    <div class="container">
        <h1 class="main-heading">наши <span class="text-red">преимущества</span></h1>

        <ul class="advantages__list">
            <li class="advantages__item">
                <img src="img/advan1.jpg" alt="">
                <h2><span class="text-red">Быстрая доставка</span> по Москве и всей России </h2>
                <p>Доставка по Москве в течение 1-2 дней, доставка по России от 2 до 10 дней</p>
            </li>
            <li class="advantages__item">
                <img src="img/advan2.jpg" alt="">
                <h2>гарантия <span class="text-red">лучшей цены</span></h2>
                <p>Найдете Дешевле? мы снизим для вас цену</p>
            </li>
            <li class="advantages__item">
                <img src="img/advan3.jpg" alt="">
                <h2><span class="text-red">бесплатная примерка</span> 2 моделей</h2>
                <p>Привезем на примерку 2 пары по Москве бесплатно!</p>
            </li>
            <li class="advantages__item">
                <img src="img/advan4.jpg" alt="">
                <h2><span class="text-red">гарантия</span> возврата и обмена</h2>
                <p>Гарантированный возврат или обмен без причины в течение 14 дней!</p>
            </li>
            <li class="advantages__item">
                <img src="img/advan5.jpg" alt="">
                <h2><span class="text-red">скидки для</span> постояннхы клиентов</h2>
                <p>Дарим скидочный купон на последующие покупки</p>!
            </li>
        </ul> <!-- /.advantages__list -->
    </div> <!-- /.container -->
</div> <!-- /.advantages -->