<div class="section bestsellers">
    <div class="container">
        <h1 class="main-heading"><span class="text-red">Хиты</span> продаж</h1>

        <div class="col6 cards">
            <div class="card card--blue">
                <img src="img/bestsellers.png" alt="" class="card__img">
                <div class="card__desc">
                    <p class="card__text">Asics Gel Lyte V "Volcano"</p>
                    <div class="card__price"><s>6.990 руб.</s><br> <span class="text-red">3.990 руб.</span></div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->
            <div class="card card--blue">
                <img src="img/bestsellers.png" alt="" class="card__img">

                <div class="card__desc">
                    <p class="card__text">Asics Gel Lyte V "Volcano"</p>
                    <div class="card__price"><s>6.990 руб.</s><br> <span class="text-red">3.990 руб.</span></div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->
            <div class="card card--blue">
                <img src="img/bestsellers.png" alt="" class="card__img">

                <div class="card__desc">
                    <p class="card__text">Asics Gel Lyte V "Volcano"</p>
                    <div class="card__price"><s>6.990 руб.</s><br> <span class="text-red">3.990 руб.</span></div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->

            <div class="card card--blue">
                <img src="img/bestsellers.png" alt="" class="card__img">

                <div class="card__desc">
                    <p class="card__text">Asics Gel Lyte V "Volcano"</p>
                    <div class="card__price"><s>6.990 руб.</s><br> <span class="text-red">3.990 руб.</span></div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->
            
            <div class="card card--blue">
                <img src="img/bestsellers.png" alt="" class="card__img">

                <div class="card__desc">
                    <p class="card__text">Asics Gel Lyte V "Volcano"</p>
                    <div class="card__price"><s>6.990 руб.</s><br> <span class="text-red">3.990 руб.</span></div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->

            <div class="card card--blue">
                <img src="img/bestsellers.png" alt="" class="card__img">

                <div class="card__desc">
                    <p class="card__text">Asics Gel Lyte V "Volcano"</p>
                    <div class="card__price"><s>6.990 руб.</s><br> <span class="text-red">3.990 руб.</span></div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->
        </div>
    </div> <!-- /.container -->
</div> <!-- /.bestsellers -->