.subscribe
  .container-small
    p.subscribe__text
      | Подпишитесь на нашу рассылку
      br
      span.text-red И ПОЛУЧАЙТЕ НОВОСТИ ПЕРВЫМИ!
    .subscribe__form
      form(action='')
        input.subscribe__input(type='email', placeholder='Введите e-mail')
        button.btn.btn-primary.subscribe__btn(type='submit') ПОДПИСАТЬСЯ
footer.site-footer
  .container-small
    .footer-list
      .footer-list__item
        p.text-red Кабинет покупателя:
        ul
          li
            a(href='') Войти
          li
            a(href='') Создать учетную запись
          li
            a(href='') Заказы
          li
            a(href='') Как определить разммер
      .footer-list__item
        p.text-red Каталог:
        ul.footer-list__catalog
          li
            a(href='') Светящие кроссовки
          li
            a(href='') Новинки
          li
            a(href='') Светящие кроссовки
          li
            a(href='') Новинки
        ul.footer-list__catalog
          li
            a(href='') Кроссовки
          li
            a(href='') Кеды
          li
            a(href='') Ботинки
          li
            a(href='') Угги
      .footer-list__item
        ul.footer-list__work-info
          li
            i.icon.icon-clock
            p
              | Время работы
              br
              span.text-red Круглосуточно
          li
            i.icon.icon-call
            p
              a(href='tel:89263787830') 8 (926) 378 78 30
              br
              a(href='mailto:we-run@mail.ru') we-run@mail.ru
      .footer-list__item.footer-list__callback
        p
          | Обратный звонок
          br
          span.text-red БЕСПЛАТНО!
        button.btn.btn-primary ЗАКАЗАТЬ ЗВОНОК
  .site-footer__bottom
    .container-small
      ul
        li.payment
          .box оплата при получении
          img(src='img/visa.png', alt='')
          img(src='img/qiwi.png', alt='')
          img(src='img/yandex.png', alt='')
        li.copy
          p
            | Интернет магазин The-Boots.ru
            br
            span.text-red 2016
        li.delivery
          .box курьерская доставка
          img(src='img/pochta.png', alt='')
          img(src='img/pickpoint.png', alt='')
