.col6.cards
    - for (var i = 0; i < 6; i++)
      .card.card--blue
        img.card__img(src='img/bestsellers.png', alt='')
        .card__desc
          p.card__text Asics Gel Lyte V "Volcano"
          .card__price
            s 6.990 руб.
            br
            span.text-red 3.990 руб.
          p.card__eco.text-red Экономия 3.800
        button.btn.btn-primary Просмотреть
