header.site-header
    nav.main-menu
        ul
            li.main-menu__item
                a(href='') Главная
            li.main-menu__item
                a(href='') Отзывы
            li.main-menu__item
                a(href='') Возврат/Обмен
            li.main-menu__item
                a(href='') Оплата
            li.main-menu__item
                a(href='') Доставка
            li.main-menu__item
                a(href='') Определить размер
            li.main-menu__item
                a(href='') Частые вопросы
            li.main-menu__item
                a(href='') Контакты
    hr.site-header__hr
    .site-header__top
        .container-wide
            .site-header__slogan
                p Интернет-магазин брендовой обуви по всей России
            .site-header__search.search
                input.search__input(type='search', placeholder='Поиск')
                button.search__btn(type='submit')
            .site-header__choose
                button.btn.btn-secondary подобрать обувь
            .site-header__hos
                i.icon-clock
                p
                    | Время работы
                    br
                    span.text-red Круглосуточно
            .site-header__contacts
                i.icon-phone
                p
                    a(href='tel:89263787830') 8 (926) 378 78 30
                    br
                    a(href='mailto:we-run@mail.ru') we-run@mail.ru
            .site-header__call
                button.btn.btn-primary ЗАКАЗАТЬ ЗВОНОК
            .site-header__cart
                a(href='')
                    i.icon-cart
                    span.cart-amount
                p Корзина
    .site-header__middle
        .site-header__menu
            .container-wide
                .site-header__logo
                    a(href='/') the-boots.ru
                ul.site-header__brands
                    li
                        a(href='') NIKE
                    li
                        a(href='') ADIDAS
                    li
                        a(href='') NEW BALANCE
                    li
                        a(href='') REEBOK
                    li
                        a(href='') PUMA
                    li
                        a(href='') ASICS
                    li
                        a(href='') SAUCONY
                    li
                        a(href='') CONVERSE
                    li
                        a(href='') VANS
                    li
                        a(href='') TIMBERLAND
                    li
                        a(href='') UGG AUSTRALIA
                .site-header__submenu
                    ul
                        li
                            a(href='#') Новинки
                        li
                            a(href='#') Зимняя обувь
                        li
                            a(href='#') Баскетбольные
                        li
                            a(href='#') Кроссовки
                        li
                            a(href='#') Светящиеся кроссовки
        .site-header__slider.main-slider
            .container-wide
                .main-slider__bc
                    ul
                        li 
                            a(href) каталог
                        li   
                            a(href) Кроссовки
                        li   
                            a(href) Nike
                        li
                            a(href) nike air max 90 glow in dark
                .main-slider__text
                    p
                        | брендовые кроссовки
                        br
                        |  всего от
                        span.text-red  2800 рублей
                    button.btn.btn-primary ПОСМОТРЕТЬ

