extends _layout

block title
    title Главная
    
block vars
    -var page = 'index'

block content
    include _header
    include index/_advantages
    include index/_arrivals
    include index/_bestsellers
    include index/_reviews
    include index/_about
    include index/_news
    include _footer
