.container-wide
    section.section.blog.right-col
        article.article
            header
                h1.right-col__heading.text-red ФЕЙК ИЛИ НЕТ? 
                span 10 СОВЕТОВ ОТ STREET BEAT
            img.article__img(src='img/blog.jpg')
            .right-col__text
                p 
                    | Компания New Balance начала свою историю еще в 1906 году. Основатель завода, Уильям Райтли, однажды обратил внимание на самую обыкновенную курицу, а точнее на ее ноги, и как она на них держится. Ведь известно, что самые устойчивые фигуры это те, которые имеют в своём основании три точки опоры. Опираясь на эти факты, У. Райтли сконструировал модель обуви, в которой располагались супинаторы, поддерживающие стопу в правильном положении, сымитировав в обуви принцип куриной лапы. Таким образом, появилась первая ортопедическая модель, пользующаяся спросом и по сегодняшний день.
                p 
                    | Кроссовки New Balance весьма популярны среди людей, которые предпочитают сочетание таких важных параметров как отличное качество, высокий уровень удобства и комфорта. Инновационные технологии, применяемые компанией New Balance, не дадут Вашим ногам устать, даже при длительном ношении этой обуви.

                p
                    | Не маловажным является и то, что в условиях поддержания высокого уровня качества и использования самых передовых технологий, компания New Balance ведёт грамотную финансовую политику, что позволяет ей быть популярной как среди спортсменов и обычной молодёжи, так и среди пенсионеров. Стоит оговорить сразу, что компания New Balance производит свою продукцию не только в США, но и в таких странах как Англия, Вьетнам и Китай. Кроссовки, произведенные в этих странах, так же соответствуют всем требованиям и стандартам компании New Balance. Как как же не ошибиться и приобрести качественную пару кроссовок New Balance? Поговорим об этом ниже.
                
            hr.right-col__hr
            .right-col__text.clr
                .article__contimgs.fr
                    img(src='img/blog2.jpg')
                    img(src='img/blog2.jpg')
                p
                    span.text-red 1. Коробка.
                    |  На коробке обязательно должен присутствовать фирменный логотип New Balance, а сами кроссовки в ней должны быть бережно обернуты в упаковочную бумагу.
                p 
                    | Коробка может отличаться от представленной в связи с различными факторами, такими как:
                ul   
                    li - разные партии поставленного товара;
                    li - ограниченная серия товара;
                    li - сезонные линейки и т.д.
            hr.right-col__hr
            .right-col__text.clr
                .article__contimgs.fl
                    ul
                        li 
                            img(src='img/blog3.jpg') 
                        li
                            img(src='img/blog4.jpg')
                p
                    span.text-red 2. Внешний вид. 
                    | Не поленитесь внимательно осмотреть товар перед покупкой!
                    br
                    br
                    | - у качественной модели логотип New Balance должен быть хорошо и четко прорисован. Он не должен отходить от ткани и небрежно торчать.
                    br
                    br
                    | - обратите внимание на швы. Они должны быть ровными и аккуратными. Нигде не должны торчать нитки (кроме места окончания шва), и шов не должен прерываться. внешняя поверхность кроссовок не должна быть запачкана клеем. Допускается лишь небольшое его количество. Тонкая аккуратная полоска клея между подошвой и тканью говорит о том, что кроссовки не только прошиты, но и проклеены.
                    br
                    br
                    | - ярлык на внутренней стороне язычка качественной пары кроссовок должен содержать полезную информацию о размере и производителе. Так же он должен быть аккуратно и ровно пришит или впаян (в зависимости от модели).
                    br
                    br
                    | - на стельках кроссовок обязательно должен присутствовать логотип New Balance. Обув кроссовки, вы не должны чувствовать стопой соты под стелькой. Сама стелька выполнена из классического плотного материала. Ничего внутри кроссовка не должно выпирать и натирать ногу.
                    br
                    br
                    | - на подошве с внешней стороны так же должен быть фирменный логотип New Balance. Подошва должна быть мягкой и достаточно хорошо сгибаться. При примерке обязательно нужно сделать хотя бы несколько шагов, чтобы понять, насколько хороша амортизация выбранной Вами модели.
                    br
                    br
                    | - комфорт и качество – это, определенно, самые главные параметры при выборе спортивной обуви. Но не будем забывать и о стиле и внешнем виде кроссовок. 
                footer.article__footer
                    ul
                        li.article__share
                            button
                                i.icon.icon-share-grey
                                span  Поделиться
                            ul.article__social
                                li
                                    i.icon.icon-twitter
                                li
                                    i.icon.icon-fb
                                li
                                    i.icon.icon-vk-small
                        li.article__likes
                            button
                                i.icon.icon-heart
                                span  721
        hr.right-col__hr

        h1.right-col__heading 
            span.text-red рекомендованные 
            | товары
        include ../_goods
        
        hr.right-col__hr
        
        .blog__comments.comments
            h1.right-col__heading.text-red комментарии
            button.btn.btn-primary оставить отзыв
            ul.comments__list
                -for (var i = 0; i < 3; i++)
                    li.comments__item
                        h2.comments__heading Мария иВанова / 01.10.2016
                        p
                            | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            button.btn.btn-primary все статьи
                        
