<div class="advantages">
    <div class="container-wide">
        <h1 class="main-heading">наши преимущества</h1>

        <div class="advantages__list">
            <ul>
                <li class="advantages__item">
                    <img src="img/adv1.jpg" alt="">
                    <h2><span class="text-red">Быстрая доставка</span> по Москве и всей России </h2>
                    <p>Доставка по Москве в течение 1-2 дней, доставка по России от 2 до 10 дней</p>
                </li>
                <li class="advantages__item">
                    <img src="img/adv2.jpg" alt="">
                    <h2>гарантия <span class="text-red">лучшей цены</span></h2>
                    <p>Найдете Дешевле? мы снизим для вас цену</p> 
                </li>
                <li class="advantages__item">
                    <img src="img/adv3.jpg" alt="">
                    <h2><span class="text-red">бесплатная примерка</span> 2 моделей</h2>
                    <p>Привезем на примерку 2 пары по Москве бесплатно!</p>
                </li>
                <li class="advantages__item">
                    <img src="img/adv4.jpg" alt="">
                    <h2><span class="text-red">гарантия</span> возврата и обмена</h2>
                    <p>Гарантированный возврат или обмен без причины в течение 14 дней!</p>
                </li>
                <li class="advantages__item">
                    <img src="img/adv5.jpg" alt="">
                    <h2><span class="text-red">скидки для</span> постояннхы клиентов</h2>
                    <p>Дарим скидочный купон на последующие покупки</p>!
                </li>
            </ul>
        </div> <!-- /.advantages__list -->
    </div> <!-- /.container-wide -->
</div> <!-- /.advantages -->