<div class="arrivals bg-color">
    <!-- START .container -->
    <div class="container">
        <h1 class="main-heading">наши преимущества</h1>
        
        <!-- START .col6 -->
        <div class="col6 cards">
            <div class="card">
                <img src="img/boots.png" alt="" class="card__img">

                <div class="card__desc">
                    <p>Adidas Valley Ransom High With Fur (Dark Navy Red)</p>
                    <div class="card__price text-red"><s>6.990 руб.</s> 3.990 руб.</div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->
            <div class="card">
                <img src="img/boots.png" alt="" class="card__img">

                <div class="card__desc">
                    <p>Adidas Valley Ransom High With Fur (Dark Navy Red)</p>
                    <div class="card__price text-red"><s>6.990 руб.</s> 3.990 руб.</div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->
            <div class="card">
                <img src="img/boots.png" alt="" class="card__img">

                <div class="card__desc">
                    <p>Adidas Valley Ransom High With Fur (Dark Navy Red)</p>
                    <div class="card__price text-red"><s>6.990 руб.</s> 3.990 руб.</div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->

            <div class="card">
                <img src="img/boots.png" alt="" class="card__img">

                <div class="card__desc">
                    <p>Adidas Valley Ransom High With Fur (Dark Navy Red)</p>
                    <div class="card__price text-red"><s>6.990 руб.</s> 3.990 руб.</div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->
            
            <div class="card">
                <img src="img/boots.png" alt="" class="card__img">

                <div class="card__desc">
                    <p>Adidas Valley Ransom High With Fur (Dark Navy Red)</p>
                    <div class="card__price text-red"><s>6.990 руб.</s> 3.990 руб.</div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->

            <div class="card">
                <img src="img/boots.png" alt="" class="card__img">

                <div class="card__desc">
                    <p>Adidas Valley Ransom High With Fur (Dark Navy Red)</p>
                    <div class="card__price text-red"><s>6.990 руб.</s> 3.990 руб.</div>
                    <p class="card__eco text-red">Экономия 3.800</p>
                    <button class="btn btn-primary">Просмотреть</button>
                </div>
            </div> <!-- /.card -->

        </div>
        <!-- END .col6 -->
    </div>
    <!-- END .container -->
</div> <!-- /.arrivals -->