<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" media="all" href="css/style.css" >
</head>
<body>
<!-- BEGIN  out-->
<div class="out">
    <header class="site-header">
        <nav class="main-menu">
            <ul>
                <li class="main-menu__item"><a href="">Главная</a></li>
                <li class="main-menu__item"><a href="">Отзывы</a></li>
                <li class="main-menu__item"><a href="">Возврат/Обмен</a></li>
                <li class="main-menu__item"><a href="">Оплата</a></li>
                <li class="main-menu__item"><a href="">Доставка</a></li>
                <li class="main-menu__item"><a href="">Определить размер</a></li>
                <li class="main-menu__item"><a href="">Частые вопросы</a></li>
                <li class="main-menu__item"><a href="">Контакты</a></li>
            </ul>
        </nav> <!-- /.main-menu -->
        
        <hr class="site-header__hr">

        <div class="site-header__top">
            <div class="container-wide">
                <div class="site-header__slogan">
                    <p>Интернет-магазин брендовой обуви по всей России</p>
                </div> <!-- /.slogan -->

                <div class="site-header__search search">
                    <input class="search__input" type="search" placeholder="Поиск">
                    <button class="search__btn" type="submit"></button>
                </div>

                <div class="site-header__choose">
                    <button class="btn btn-secondary">подобрать обувь</button>
                </div> <!-- /.site-header__choose -->

                <div class="site-header__hos">
                    <i class="icon-clock"></i>
                    <p>Время работы <span class="text-red">Круглосуточно</span></p>
                </div> <!-- /.site-header__hos -->

                <div class="site-header__contacts">
                    <i class="icon-phone"></i>
                    <p>
                        <a href="tel:89263787830">8 (926) 378 78 30</a>
                        <a href="mailto:we-run@mail.ru">we-run@mail.ru</a>
                    </p>                
                </div> <!-- /.site-header__contacts -->

                <div class="site-header__call">
                    <button class="btn btn-primary">ЗАКАЗАТЬ ЗВОНОК</button>
                </div> <!-- /.site-header__call -->

                <div class="site-header__cart">
                    <a href="">
                        <i class="icon-cart"></i>
                        <span class="cart-amount"></span>
                    </a>
                    <p>Корзина</p>
                </div> <!-- /.site-header__cart -->
            </div> <!-- /.container-wide -->
        </div> <!-- /.site-header__top -->

        <div class="site-header__middle">
            <div class="site-header__menu">
                <div class="container-wide">
                    <div class="site-header__logo">
                        <a href="/">the-boots.ru</a>
                    </div> <!-- /.site-header__logo -->

                    <ul class="site-header__brands">
                        <li><a href="">NIKE</a></li>
                        <li><a href="">ADIDAS</a></li>
                        <li><a href="">NEW BALANCE</a></li>
                        <li><a href="">REEBOK</a></li>
                        <li><a href="">PUMA</a></li>
                        <li><a href="">ASICS</a></li>
                        <li><a href="">SAUCONY</a></li>
                        <li><a href="">CONVERSE</a></li>
                        <li><a href="">VANS</a></li>
                        <li><a href="">TIMBERLAND</a></li>
                        <li><a href="">UGG AUSTRALIA</a></li>
                    </ul>

                    <div class="site-header__submenu">
                        <ul>
                            <li><a href="#">Новинки</a></li>
                            <li><a href="#">Зимняя обувь</a></li>
                            <li><a href="#">Баскетбольные</a></li>
                            <li><a href="#">Кроссовки</a></li>
                            <li><a href="#">Светящиеся кроссовки</a></li>
                        </ul>
                    </div> <!-- /.site-header__submenu -->
                </div> <!-- /.container-wide -->
            </div> <!-- /.site-header__menu -->

            <div class="site-header__slider main-slider">
                <img src="img/slider.jpg" alt="">
                <div class="main-slider__text">
                    <p>брендовые кроссовки <br> всего от <span class="text-red">2800 рублей</span></p>
                    <button class="btn btn-primary">ПОСМОТРЕТЬ</button>
                </div> <!-- /.main-slider__text -->
            </div> <!-- /.site-header__slider -->
        </div> <!-- /.site-header__middle -->
    </header> <!-- /.site-header -->