<!-- START .news -->
<div class="news bg-color">
    <!-- START .container -->
    <div class="container">
        <h1 class="main-heading"><span class="text-red">наши</span> новости</h1>

        <!-- START .col4 -->
        <div class="col4">
            <ul>
                <li class="news__item">
                    <img src="img/news.jpg" alt="">
                    <h3>
                        <time datetime="21-10-2016">21.10.2016</time>
                        <span class="text-red">ФЕЙК ИЛИ НЕТ? 10 СОВЕТОВ ОТ STREET BEAT</span>
                    </h3>
                    <hr class="news__hr">
                    <p>Рассказываем, как понять, что кроссовки, которые вы выбрали – настоящие.</p>
                    <footer class="news__footer">
                        <ul>
                            <li class="news__likes">
                                <i class="icon icon-heart"></i>
                                721
                            </li>
                            <li class="news__comments">
                                <i class="icon icon-message"></i>
                                52
                            </li>
                            <li class="news__share text-red">
                                <i class="icon icon-share"></i>
                                <ul class="news__social">
                                    <li><i class="icon icon-twitter"></i></li>
                                    <li><i class="icon icon-fb"></i></li>
                                    <li><i class="icon icon-vk"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </footer>
                </li>
                <li class="news__item">
                    <img src="img/news.jpg" alt="">
                    <h3>
                        <time datetime="21-10-2016">21.10.2016</time>
                        <span class="text-red">ФЕЙК ИЛИ НЕТ? 10 СОВЕТОВ ОТ STREET BEAT</span>
                    </h3>
                    <hr class="news__hr">
                    <p>Рассказываем, как понять, что кроссовки, которые вы выбрали – настоящие.</p>
                    <footer class="news__footer">
                        <ul>
                            <li class="news__likes">
                                <i class="icon icon-heart"></i>
                                721
                            </li>
                            <li class="news__comments">
                                <i class="icon icon-message"></i>
                                52
                            </li>
                            <li class="news__share text-red">
                                <i class="icon icon-share"></i>
                                <ul class="news__social">
                                    <li><i class="icon icon-twitter"></i></li>
                                    <li><i class="icon icon-fb"></i></li>
                                    <li><i class="icon icon-vk"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </footer>
                </li>
                <li class="news__item">
                    <img src="img/news.jpg" alt="">
                    <h3>
                        <time datetime="21-10-2016">21.10.2016</time>
                        <span class="text-red">ФЕЙК ИЛИ НЕТ? 10 СОВЕТОВ ОТ STREET BEAT</span>
                    </h3>
                    <hr class="news__hr">
                    <p>Рассказываем, как понять, что кроссовки, которые вы выбрали – настоящие.</p>
                    <footer class="news__footer">
                        <ul>
                            <li class="news__likes">
                                <i class="icon icon-heart"></i>
                                721
                            </li>
                            <li class="news__comments">
                                <i class="icon icon-message"></i>
                                52
                            </li>
                            <li class="news__share text-red">
                                <i class="icon icon-share"></i>
                                <ul class="news__social">
                                    <li><i class="icon icon-twitter"></i></li>
                                    <li><i class="icon icon-fb"></i></li>
                                    <li><i class="icon icon-vk"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </footer>
                </li>
                <li class="news__item">
                    <img src="img/news.jpg" alt="">
                    <h3>
                        <time datetime="21-10-2016">21.10.2016</time>
                        <span class="text-red">ФЕЙК ИЛИ НЕТ? 10 СОВЕТОВ ОТ STREET BEAT</span>
                    </h3>
                    <hr class="news__hr">
                    <p>Рассказываем, как понять, что кроссовки, которые вы выбрали – настоящие.</p>
                    <footer class="news__footer">
                        <ul>
                            <li class="news__likes">
                                <i class="icon icon-heart"></i>
                                721
                            </li>
                            <li class="news__comments">
                                <i class="icon icon-message"></i>
                                52
                            </li>
                            <li class="news__share text-red">
                                <i class="icon icon-share"></i>
                                <ul class="news__social">
                                    <li><i class="icon icon-twitter"></i></li>
                                    <li><i class="icon icon-fb"></i></li>
                                    <li><i class="icon icon-vk"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </footer>
                </li>
            </ul>
        </div>
        <!-- END .col4 -->

        <!-- START .text-center -->
        <div class="text-center">
            <button class="btn btn-primary">ВСЕ НОВОСТИ</button>
        </div>
        <!-- END .text-center -->
    </div>
    <!-- END .container -->
</div>
<!-- END .news -->