.container-wide
    section.section.right-col
        h1.right-col__heading.text-red ОТЗЫВЫ
        .right-col__text
            p
                | Мы гордимся тем, что публикуем только реальные отзывы настоящих людей, а не самописанные как широко практикуются недобросовестными "интернет-магазинами". Вы можете легко проверить реальность отзывов - для этого мы дали вам как можно больше информации по каждому из них. Благодарим этих покупателей за разрешение на публикацию их отзывов;) 
            p
                 | Также хочется заметить, что мы дорожим Вашим временем. Поэтому за любой отзыв в независимости позитивный или негативный мы предоставляем скидочный купон на следующую покупку. Для нас действительно важен каждый отзыв. Спасибо Вам;) 
            
        hr.right-col__hr
        
        .sorting
            p Сортировать по:
            ul.sorting__list
                li
                    a(href) По дате
                li
                    a(href) По полезности
                li
                    a(href) По оценке
            button.btn.btn-primary оставить отзыв
        
        -for (var i = 0; i < 4; i++)
            include ../_review
            
        include ../_pagination